{% extends 'index_list_detail_base.html' %}
{% load  staticfiles %}
{% block title %}首页{% endblock %}
{% block head_files %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock %}
{% block navbar_title %}全部商品分类{% endblock %}
{% block sub_content %}
	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for type in types %}
			    <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for item in carousel %}
				    <li><img src="{{ item.image.url }}" alt="{{ item.sku.name }}"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for item in promotions %}
			    <a href="{{ item.url }}"><img src="{{ item.image.url }}"></a>
            {% endfor %}
		</div>
	</div>
    {% for type in types %}
        <div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for goods in type.text_show %}
                    <a href="{% url 'goods:detail' goods.sku.id %}">{{ goods.sku.name }}</a>
                {% endfor %}
			</div>
			<a href="{% url 'goods:list' type.id 1 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image.url }}"></div>
			<ul class="goods_list fl">
                {% for goods in type.img_show %}
                <li>
					<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.sku.name }}</a></h4>
					<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.sku.image.url }}"></a>
					<div class="prize">{{ goods.sku.price }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock %}
