{% extends 'user_center.html' %}
{% block title %}天天生鲜用户中心{% endblock %}
{% block head_files %}{% endblock %}
{% block sub_page_name %}全部订单{% endblock %}
{% block right_content %}
    	<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
            {% for order in orders %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.trade_no }}</li>
					<li class="col02 stress">{{ order.text_status }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for goods in order.order_goods_list %}
								<ul class="order_goods_list clearfix">
									<li class="col01"><img src="{{ goods.sku.image.url }}"></li>
									<li class="col02">{{ goods.sku.name }}<em>{{ goods.sku.price }}元/{{ goods.sku.unite }}</em></li>
									<li class="col03">{{ goods.count }}</li>
									<li class="col04">{{ goods.price }}元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">{{ order.total_price }}元</td>
							<td width="15%">{{ order.text_status }}</td>
							<td width="15%">
                                {% if order.order_status == 1 %}
                                <a href="#" class="oper_btn">去支付</a>
                                {% elif order.order_status == 2 %}
                                <a href="#" class="oper_btn">查看物流</a>
                                {% endif %}
                            </td>
						</tr>
					</tbody>
				</table>
            {% endfor %}
				<div class="pagenation">
                    <a href="{% url 'user:order' 1 %}">首页</a>
                {% if orders.has_previous %}
					<a href="{% url 'user:order' orders.previous_page_number %}">上一页</a>
                {% endif %}
                    {% for index in page_index_range %}
					<a href="{% url 'user:order' index %}" {% if orders.number == index  %}class="active"{% endif %}>{{ index }}</a>
                    {% endfor %}
                {% if orders.has_next %}
					<a href="{% url 'user:order' orders.next_page_number %}">下一页</a>
                {% endif %}
                    <a href="{% url 'user:order' orders.paginator.num_pages %}">尾页</a>
				</div>
		</div>
{% endblock %}
